.home-container {
  width: 100vw;

  padding: 5rem; 
  box-sizing: border-box;

}

.comapany-info {
  width: 100%;
  height: 100%;
}


.main-page-content{
  margin: 5rem;
}
.footer-content{
  margin: 50px;
}