.terms-and-conditions{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-content: space-around;
    font-size: 20px;
    color: rgb(123,130,141);
}

.span2 {
    margin-left: 20px;
}

h2{
  color: rgb(54,63,74);
}


a:link,
a:visited,
a:hover,
a:active,
Link {
  text-decoration: none; 
  color: rgb(31, 18, 209)
}
